.CustomInput{
    border-radius: 3px !important;
}
.CustomInput-createBtn{
    margin: 0 .5rem;
    line-height: 16px;
    font-weight: bold;
    padding: .2rem;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
}