.CustomNav {
  background-color: var(--secundary-color);
  width: 100%;
}

.CustomNav-link{
  color: white;
  border-radius: 0 !important;
}
.CustomNav-link.active{
  background-color: var(--main-color) !important;
}
.CustomNav-link:hover,
.CustomNav-link:active{
  color: var(--main-color) !important;
}
