.CustomNav {
  background-color: var(--base-color);
  width: 100%;
}
.CustomNav-end{
  margin-left: auto;
}
.CustomNav-link{
  color: white;
  border-radius: 0 !important;
}
.CustomNav-link.active{
  background-color: var(--main-color) !important;
}
.CustomNav-link:hover,
.CustomNav-link:active{
  color: var(--main-color) !important;
}
