.Footer{
    background-color: var(--main-color);
    padding: 4rem 0;
    width: 100%;
}

.Footer-links{
    display: flex;
    flex-direction: column;
}
.Footer .Link{
    color: white;
}
.Footer .Link:hover{
    color: var(--main-color);
}