.List{
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
}
.List-header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing-8) var(--spacing-16);
}
.List-headerOptions{
    display: flex;
    justify-items: end;
}
.List-title{
    margin: 0;
    font-weight: bold;
}