.ScheduleBadge {
  border: 1px solid var(--unselected-color);
  background-color: var(--unselected-color);
  border-radius: 5px;
  height: 0.5rem;
  width: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.ScheduleBadge.En-curso {
  border: 1px solid var(--base-color);
  background-color: var(--base-color);
}
.ScheduleBadge.Finalizada {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}
