.SortBy{
  align-items: center;
  display: flex;
}
.SortBy-label {
  pointer-events: none;
  padding-right: 0;
  font-weight: bolder;
}
.SortBy-caret {
  padding-left: var(--spacing-8);
}
.SortBy-caret,
.SortBy-caret:hover,
.SortBy-caret:active,
.SortBy-caret:focus {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
}
