.TrainingListItem{
    align-items: stretch;
    display: flex;
    margin-bottom: 1rem;

    border-bottom: 1px solid lightgray;
}
.TrainingListItem-content{
    margin-left: .5rem;
    width: 100%;
}
.TrainingListItem-mainInfo{
    align-items: flex-start;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.TrainingListItem-options{
    align-items: center;
    display: flex;
    margin-left: auto;
}
.TrainingListItem-options .btn{
    width: 120px;
}
.TrainingListItem-avatarWrapper{
    margin-right: 1rem;
}
.TrainingListItem-avatar{
    height: 1.7rem;
    object-fit: cover;
    object-position: center;
    width: 1.7rem;
}